@use '../vars/vars' as *;
@use '../mixins/mixin' as *;

.footer {
    max-width: 1920px;
    height: 136px;
    margin: 0 auto;
    background-color: rgba(1, 10, 32, 1);

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        overflow: visible;

        &-arrow {
            position: absolute;
            top: -50%;
            right: 0%;
        }
    }

    &__left {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 50%;
        margin-top: 39px;

        img {
            width: 175px;
            height: auto;
        }

        &-nav {
            width: 55%;
            display: flex;
            justify-content: space-evenly;

            a {
                @include description;
                color: rgba(255, 255, 255, 1);
            }
        }
    }

    &__right {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 30%;
        margin-top: 60px;

        &-logo {
            margin-top: 5px;
            display: flex;
            column-gap: 28px;

            a {
                img {
                    width: 24px;
                    height: auto;
                }
            }
        }

        img {
            width: 158px;
            height: 28px;
        }
    }
}

@media (max-width:1050px) {
    .footer {
        &__left {
            width: 65%;
        }

        &__right {
            width: 35%;
        }
    }
}

@media (max-width:840px) {
    .footer {
        height: 726px;

        &__content {
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding-top: 146px;
            &-arrow{
                top: -8%;
                right: 41%;
            }
        }

        &__left {
            flex-direction: column;
            margin-top: 0;

            &-nav {
                height: 251px;
                flex-direction: column;
                text-align: center;
            }
        }

        &__right {
            flex-direction: column;
            margin-top: 31px;
            img{
                margin-top: 36px;
            }
        }
    }
}

@media(max-width:630px){
    .footer{
        &__content{
            &-arrow{
                top: -8%;
                right: 37%;
            }
        }
    }
}

@media (max-width:431px){
    .footer{
        &__content{
            &-arrow{
                top: -8%;
                right: 33%;
            }
        }
    }
}